# .gitignore

#/public/.htaccess

# Ignore everything with sensitive data
  # Ignore the wp-configs but not the sample.
  wp-config.*.php
  !wp-config.sample.php

  # Ignore the scripts config variables but not the sample.
  !/scripts/scripts-config.sample.sh
  /scripts/scripts-config.sh

  # Ignore the database backups
  !/db/archive
  !/db/latest
  /db/archive/*
  /db/latest/*

# Ignore the wp core directory
/public/wpcr/*
!/public/wpcr

# Ignore the content directory
!/public/content
!/public/content/plugins
!/public/content/uploads
!/public/content/themes
/public/content/*
/public/content/plugins/*
/public/content/uploads/*
/public/content/themes/*




# Don’t ignore plugins dir, but ignore everything inside
#!/wp-content/plugins
#/wp-content/plugins/*

# Don’t ignore themes dir, but ignore everything inside
#!/wp-content/themes
#/wp-content/themes/*

# Don’t ignore these plugins
#!/wp-content/themes/index.php
#!/wp-content/themes/twentyseventeen

# Don’t ignore these plugins
#!/wp-content/plugins/akismet
